@media (min-width: 992px) {
  .para1 {
    width: 32%;
  }
  .para2 {
    width: 32%;
  }
  .para3 {
    width: 32%;
  }
  .inner
    {
	background-color:pink;
	border: 1px solid black;
    position:absolute;
    left:85%;
    top:-8%;
     } 
  
}
@media(min-width:768px) and (max-width: 991px)
{
	.para1{
		width:45%;
		float:left;
	}
	.para2{
		width:45%;
		float :right;
	}
	.para3{
		width:91%;
	}
    .inner
    {
	background-color:pink;
	border: 1px solid black;
    position:absolute;
    left:86%;
    top:-10%;
     } 
	


		

}
@media(max-width: 767px)
{
    .para1{
		width:99%;
	}
	.para2{
		width:99%;
	}
	.para3{
		width:99%;
	}
	.inner
    {
	background-color:pink;
	border: 1px solid black;
    position:absolute;
    left:90%;
    top:-14%;
	


   }

}
.div
{

	//position: relative;
	border :10px;
	
}
.para1 , .para2 ,.para3
{
	background-color: grey;
    box-sizing: border-box;
    text-align: center;
     border: 1px solid black;
    padding: 5%;
    float: left;
    margin : 0.5%;
    position:relative;


}
.inner
{
	background-color:pink;
	border: 1px solid black;
    position:absolute;
    //left:90%;
    //top:0%;
	


}
div .heading
{
	text-align: center;



}

