@media (min-width: 992px) {
  .para1 {
    width: 30%;
  }
  .para2 {
    width: 30%;
  }
  .para3 {
    width: 30%;
  }
  
}
@media(min-width:768px) and (max-width: 991px)
{
	.para1{
		width:45%;
		float:left;
	}
	.para2{
		width:45%;
		float :right;
	}
	.para3{
		width:90%;
	}

		

}
@media(max-width: 767px)
{
    .para1{
		width:80%;
	}
	.para2{
		width:80%;
	}
	.para3{
		width:80%;
	}

}
.div
{

	position: relative;
	border :10px;
}
.para1 , .para2 ,.para3
{
	background-color: grey;
    box-sizing: border-box;
    
     border: 5px solid black;
    padding: 50px;
    float: left;
    margin : 5px;
    position:relative;


}
.inner
{
	background-color:pink;
	border: 5px solid black;
    position:absolute;
    left:80%;
    top:0;
	


}
div .heading
{
	text-align: center;



}

